APP_NAME=Farm Accounts API
ENVIRONMENT=development
POSTGRES_USER=postgres.ifezrdgcotfqqwdjogvy
POSTGRES_PASSWORD=your-password
POSTGRES_HOST=aws-0-ap-southeast-2.pooler.supabase.com
POSTGRES_PORT=5432
POSTGRES_DBNAME=postgres
POSTGRES_SSLMODE=require
JWT_SECRET_KEY=change-me-secret-key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=1440
CORS_ORIGINS=http://localhost:5173
